body{
    background-color: darkorange;
}
.cont{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
      
}
header{
    background-color:#deb887;
    height: 118px;
    text-align: center;
    font-size: 40px;
    color: red;    
}
nav{
    background-color:peru;
    height: 40px;
}
main{
    background-color:palevioletred;
    height: 300px;
    }
footer{
    background-color:peru;
    height: 70px;
}
h1{
    font: size 70px;
       
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
h6{
    text-align:right;
    font-size:10%;
    color: plum;
}
 
