<html lang="en">
<head> 
    
    <link rel="stylesheet" href="./app.css">
</head>
<body>
    </body>
     <div class="cont">
         
         <header>
           <h1> නිවාරණ   </h1>
            </header>
         <nav></nav>
         <main><h1> රෝගය සහ පූර්ව ප්‍රතිකාරයන් නිවැරදිව හඳුනා ගැනීම සඳහා රෝග ලක්ෂණ ඇතුලත් කරන්න.</h1>
           
           <form method="post" enctype="multipart/form-data" action="predictDisease">
               {% csrf_token %}
           <p>රෝග ලක්ෂණ 01:
            <input list="html_elements" name="symptom1">
            <datalist id="html_elements">
            <option value="හිසරදය "> </option>
            <option value="වමනය "> </option>
            <option value="උගුරෙ අපහසුතාවය">  </option>
            <option value="කෑම අරුචිය">  </option>
            </datalist>
            <input type="reset">
        
             <p>රෝග ලක්ෂණ 02:
              <input list="html_elements" name="symptom2">
              <datalist id="html_elements">
              <option value="හිසරදය"> </option>
              <option value="වමනය"> </option>
              <option value="උගුරෙ අපහසුතාවය">  </option> 
              <option value="කෑම අරුචිය">  </option>
              </datalist>
              <input type="reset">
              
               <p>රෝග ලක්ෂණ 03:
                <input list="html_elements" name="symptom3">
                <datalist id="html_elements">
                <option value="හිසරදය"> </option>
                <option value="වමනය"> </option>
                <option value="උගුරෙ අපහසුතාවය">  </option>
                <option value="කෑම අරුචිය">  </option>
                </datalist>
                <input type="reset">
                
<p><button name="button" value="OK" type="button" onclick="hello()">අමතර ඇතුලත් කිරීමක් සඳහා..</button>
       <script>
       function hello(){
       alert("hello javatpoint user");
       }
       </script> </p>
       <h6> <input type="submit" value="ඉදිරියට"/></h6></form>
       </main>
         <footer></footer>
        </div>
    </body>
    </html>
   
