<html lang="en">
<head> 
    
    <link rel="stylesheet" href="./app.css">
</head>
<body>
    </body>
     <div class="cont">
         
         <header>
           <h1> නිවාරණ   </h1>
            </header>
         <nav></nav>
         <main><h1> රෝගය සහ පූර්ව ප්‍රතිකාරයන් නිවැරදිව හඳුනා ගැනීම සඳහා රෝග ලක්ෂණ ඇතුලත් කරන්න.</h1>
           
           <form method="post" enctype="multipart/form-data" action="predictDisease">
               {% csrf_token %}
           <p>රෝග ලක්ෂණ 01:
            <input list="html_elements" name="symptom1">
            <datalist id="html_elements">
                <option value ='ශරීර පිටුපස වේදනාව'></option>
                <option value ='මලබද්ධය'></option>
                <option value ='උදර වේදනාව'></option>
                <option value ='පාචනය'></option>
                <option value ='මෘදු_ෆෙවර්'></option>
                <option value ='කහ පැහැති මුත්රා'></option>
                <option value ='කහ පැහැති ඇස්'></option>
                <option value ='අක්මාව හානි'></option>
                <option value ='රුධිරයේ අධික තරල'></option>
                <option value ='බඩ ඉදිමීම'></option>
                <option value ='ඉදිමුණු වසා ගැටිති'></option>
                <option value ='ව්යාධිය'></option>
                <option value ='පෙනීම දුර්වල වීම'></option>
                <option value ='සෙම්'></option>
                <option value ='උගුර ආසාදන'></option>
                <option value ='ඇස්වල රතු පැහැය'></option>
                <option value ='නාසික තදබදය'></option>
                <option value ='නාසයෙන් ශ්ලේෂ්මල පිට කිරීම'></option>
                <option value ='ශරීර තද බව'></option>
                <option value ='පපුවේ වේදනාව'></option>
                <option value ='අත් පා දුර්වල වීම'></option>
                <option value ='වේගවත් හෘද ස්පන්දන වේගය'></option>
                <option value ='බඩවැල්වල වේදනාව'></option>
                <option value ='ගුද කලාපයේ වේදනාව'></option>
                <option value ='මළපහෙන් ලේ ගැලීම'></option>
                <option value ='ගුදය වටා කැසීම'></option>
                <option value ='බෙල්ලේ වේදනාව'></option>
                <option value ='කරකැවිල්ල'></option>
                <option value ='ශරීරයේ කැක්කුම'></option>
                <option value ='තැලීම්'></option>
                <option value ='තරබාරුකම'></option>
                <option value ='ඉදිමුණු කකුල්'></option>
                <option value ='ඉදිමුණු රුධිර නාල'></option>
                <option value ='සුදුමැලි මුහුණ සහ ඇස්'></option>
                <option value ='තයිරොයිඩ් ග්‍රන්ථිය විශාල බව'></option>
                <option value ='නියපොතු'></option>
                <option value ='ආයුධ, පාද, වළලුකර හා කකුල් ඉදිමීම'></option>
                <option value ='අධික කුසගින්න'></option>
                <option value ='අවිවාහක සබඳතා පිළිබඳ ගැටලු'></option>
                <option value ='තොල් වියළීම හා හිරි වැටීම'></option>
                <option value ='මුඩුක්කු කථාව'></option>
                <option value ='දණහිසේ වේදනාව'></option>
                <option value ='උකුල් වල සන්ධි වේදනාව'></option>
                <option value ='මාංශ පේශි දුර්වලතාව'></option>
                <option value ='බෙල්ලේ තද බව'></option>
                <option value ='ඉදිමුණු සන්ධි'></option>
                <option value ='ශරීර චලනයන්හි තද බව'></option>
                <option value ='චලනයන් අතරතුර කරකැවිල්ල'></option>
                <option value ='ශරීර සමතුලිතතාවය නැතිවීම'></option>
                <option value ='ශරීර අස්ථාවරත්වය'></option>
                <option value ='එක් ශරීර පැත්තක දුර්වලතාවය'></option>
                <option value ='සුවඳ දැනීම නැතිවීම'></option>
                <option value ='මුත්‍රාශයේ වේදනාව'></option>
                <option value ='මුත්රා වල දුර්ගන්ධය'></option>
                <option value ='නිතර මුත්‍රා කිරීමට අවශ්‍යයි'></option>
                <option value ='ගුදය හරහා වායුව මුදා හැරීම'></option>
                <option value ='ශරීර අභ්‍යන්තර කැසීම'></option>
                <option value ='ටයිෆස් උණ'></option>
                <option value ='මානසික අවපීඩනය'></option>
                <option value ='නුරුස්නා බව'></option>
                <option value ='මාංශ පේශි වේදනාව'></option>
                <option value ='පැහැදිලිව සිතීමට හෝ අවධානය යොමු කිරීමට නොහැකි වීම'></option>
                <option value ='ශරීරයේ රතු ලප'></option>
                <option value ='පහළ බඩේ වේදනාව'></option>
                <option value ='අසාමාන්‍ය ඔසප් වීම'></option>
                <option value ='දුර්වර්ණ වූ සම'></option>
                <option value ='ඇස්වල කඳුළු'></option>
                <option value ='අධික කුසගින්න'></option>
                <option value ='අසාමාන්‍ය ලෙස මුත්රා නිපදවීම'></option>
                <option value ='පාරම්පරික ආබාධ'></option>
                <option value ='සුදු ශ්ලේෂ්මල නාසයෙන් පැමිණේ'></option>
                <option value ='මලකඩ පැහැති ශ්ලේෂ්මල නාසයෙන් පැමිණේ'></option>
                <option value ='අධි ක්‍රියාකාරිත්වය'></option>
                <option value ='ඇස් පෙනීම වෙනස් වීම'></option>
                <option value ='පාරවිලයන ප්‍රතික්‍රියා'></option>
                <option value ='අනාරක්ෂිත එන්නත් කිරීම'></option>
                <option value ='කෝමා'></option>
                <option value ='ආමාශයේ ලේ ගැලීම'></option>
                <option value ='උදරයේ ඉදිමීම'></option>
                <option value ='අධික ලෙස මත්පැන් පානය කිරීම'></option>
                <option value ='ශරීරයේ බර වැඩිවීමට හේතු වන අතිරික්ත තරලය'></option>
                <option value ='ශ්ලේෂ්මල සහිත රුධිරය'></option>
                <option value ='කකුල් සහ පාදවල ඉදිමුණු හා විශාල වූ නහර'></option>
                <option value ='හදවත නැවැත්වූ බවක් දැනේ'></option>
                <option value ='ඇවිදින විට වේදනාව'></option>
                <option value ='සැරව පිරුණු කුරුලෑ'></option>
                <option value ='බ්ලැක් හෙඩ්ස්'></option>
                <option value ='කැළැල්'></option>
                <option value ='ඔබේ සමේ ඉහළ ස්ථරයට හානි වීම'></option>
                <option value ='සම නිල් හෝ නිල්-අළු බවට හැරේ'></option>
                <option value ='නියපොතු වල ගැසීම'></option>
                <option value ='නිය වටා සමේ දැවිල්ල'></option>
                <option value ='බිබිලි'></option>
                <option value ='නාසය යට සහ අවට රතු සම'></option>
                <option value ='කහ පැහැති කබොල සැරව සෑදී ඇත'></option>
            </datalist>
            <input type="reset">
        
             <p>රෝග ලක්ෂණ 02:
              <input list="html_elements" name="symptom2">
              <datalist id="html_elements"><option value ='ශරීර පිටුපස වේදනාව'></option>
                <option value ='මලබද්ධය'></option>
                <option value ='උදර වේදනාව'></option>
                <option value ='පාචනය'></option>
                <option value ='මෘදු_ෆෙවර්'></option>
                <option value ='කහ පැහැති මුත්රා'></option>
                <option value ='කහ පැහැති ඇස්'></option>
                <option value ='අක්මාව හානි'></option>
                <option value ='රුධිරයේ අධික තරල'></option>
                <option value ='බඩ ඉදිමීම'></option>
                <option value ='ඉදිමුණු වසා ගැටිති'></option>
                <option value ='ව්යාධිය'></option>
                <option value ='පෙනීම දුර්වල වීම'></option>
                <option value ='සෙම්'></option>
                <option value ='උගුර ආසාදන'></option>
                <option value ='ඇස්වල රතු පැහැය'></option>
                <option value ='නාසික තදබදය'></option>
                <option value ='නාසයෙන් ශ්ලේෂ්මල පිට කිරීම'></option>
                <option value ='ශරීර තද බව'></option>
                <option value ='පපුවේ වේදනාව'></option>
                <option value ='අත් පා දුර්වල වීම'></option>
                <option value ='වේගවත් හෘද ස්පන්දන වේගය'></option>
                <option value ='බඩවැල්වල වේදනාව'></option>
                <option value ='ගුද කලාපයේ වේදනාව'></option>
                <option value ='මළපහෙන් ලේ ගැලීම'></option>
                <option value ='ගුදය වටා කැසීම'></option>
                <option value ='බෙල්ලේ වේදනාව'></option>
                <option value ='කරකැවිල්ල'></option>
                <option value ='ශරීරයේ කැක්කුම'></option>
                <option value ='තැලීම්'></option>
                <option value ='තරබාරුකම'></option>
                <option value ='ඉදිමුණු කකුල්'></option>
                <option value ='ඉදිමුණු රුධිර නාල'></option>
                <option value ='සුදුමැලි මුහුණ සහ ඇස්'></option>
                <option value ='තයිරොයිඩ් ග්‍රන්ථිය විශාල බව'></option>
                <option value ='නියපොතු'></option>
                <option value ='ආයුධ, පාද, වළලුකර හා කකුල් ඉදිමීම'></option>
                <option value ='අධික කුසගින්න'></option>
                <option value ='අවිවාහක සබඳතා පිළිබඳ ගැටලු'></option>
                <option value ='තොල් වියළීම හා හිරි වැටීම'></option>
                <option value ='මුඩුක්කු කථාව'></option>
                <option value ='දණහිසේ වේදනාව'></option>
                <option value ='උකුල් වල සන්ධි වේදනාව'></option>
                <option value ='මාංශ පේශි දුර්වලතාව'></option>
                <option value ='බෙල්ලේ තද බව'></option>
                <option value ='ඉදිමුණු සන්ධි'></option>
                <option value ='ශරීර චලනයන්හි තද බව'></option>
                <option value ='චලනයන් අතරතුර කරකැවිල්ල'></option>
                <option value ='ශරීර සමතුලිතතාවය නැතිවීම'></option>
                <option value ='ශරීර අස්ථාවරත්වය'></option>
                <option value ='එක් ශරීර පැත්තක දුර්වලතාවය'></option>
                <option value ='සුවඳ දැනීම නැතිවීම'></option>
                <option value ='මුත්‍රාශයේ වේදනාව'></option>
                <option value ='මුත්රා වල දුර්ගන්ධය'></option>
                <option value ='නිතර මුත්‍රා කිරීමට අවශ්‍යයි'></option>
                <option value ='ගුදය හරහා වායුව මුදා හැරීම'></option>
                <option value ='ශරීර අභ්‍යන්තර කැසීම'></option>
                <option value ='ටයිෆස් උණ'></option>
                <option value ='මානසික අවපීඩනය'></option>
                <option value ='නුරුස්නා බව'></option>
                <option value ='මාංශ පේශි වේදනාව'></option>
                <option value ='පැහැදිලිව සිතීමට හෝ අවධානය යොමු කිරීමට නොහැකි වීම'></option>
                <option value ='ශරීරයේ රතු ලප'></option>
                <option value ='පහළ බඩේ වේදනාව'></option>
                <option value ='අසාමාන්‍ය ඔසප් වීම'></option>
                <option value ='දුර්වර්ණ වූ සම'></option>
                <option value ='ඇස්වල කඳුළු'></option>
                <option value ='අධික කුසගින්න'></option>
                <option value ='අසාමාන්‍ය ලෙස මුත්රා නිපදවීම'></option>
                <option value ='පාරම්පරික ආබාධ'></option>
                <option value ='සුදු ශ්ලේෂ්මල නාසයෙන් පැමිණේ'></option>
                <option value ='මලකඩ පැහැති ශ්ලේෂ්මල නාසයෙන් පැමිණේ'></option>
                <option value ='අධි ක්‍රියාකාරිත්වය'></option>
                <option value ='ඇස් පෙනීම වෙනස් වීම'></option>
                <option value ='පාරවිලයන ප්‍රතික්‍රියා'></option>
                <option value ='අනාරක්ෂිත එන්නත් කිරීම'></option>
                <option value ='කෝමා'></option>
                <option value ='ආමාශයේ ලේ ගැලීම'></option>
                <option value ='උදරයේ ඉදිමීම'></option>
                <option value ='අධික ලෙස මත්පැන් පානය කිරීම'></option>
                <option value ='ශරීරයේ බර වැඩිවීමට හේතු වන අතිරික්ත තරලය'></option>
                <option value ='ශ්ලේෂ්මල සහිත රුධිරය'></option>
                <option value ='කකුල් සහ පාදවල ඉදිමුණු හා විශාල වූ නහර'></option>
                <option value ='හදවත නැවැත්වූ බවක් දැනේ'></option>
                <option value ='ඇවිදින විට වේදනාව'></option>
                <option value ='සැරව පිරුණු කුරුලෑ'></option>
                <option value ='බ්ලැක් හෙඩ්ස්'></option>
                <option value ='කැළැල්'></option>
                <option value ='ඔබේ සමේ ඉහළ ස්ථරයට හානි වීම'></option>
                <option value ='සම නිල් හෝ නිල්-අළු බවට හැරේ'></option>
                <option value ='නියපොතු වල ගැසීම'></option>
                <option value ='නිය වටා සමේ දැවිල්ල'></option>
                <option value ='බිබිලි'></option>
                <option value ='නාසය යට සහ අවට රතු සම'></option>
                <option value ='කහ පැහැති කබොල සැරව සෑදී ඇත'></option>
              </datalist>
              <input type="reset">
              
               <p>රෝග ලක්ෂණ 03:
                <input list="html_elements" name="symptom3">
                <datalist id="html_elements"><option value ='ශරීර පිටුපස වේදනාව'></option>
                <option value ='මලබද්ධය'></option>
                <option value ='උදර වේදනාව'></option>
                <option value ='පාචනය'></option>
                <option value ='මෘදු_ෆෙවර්'></option>
                <option value ='කහ පැහැති මුත්රා'></option>
                <option value ='කහ පැහැති ඇස්'></option>
                <option value ='අක්මාව හානි'></option>
                <option value ='රුධිරයේ අධික තරල'></option>
                <option value ='බඩ ඉදිමීම'></option>
                <option value ='ඉදිමුණු වසා ගැටිති'></option>
                <option value ='ව්යාධිය'></option>
                <option value ='පෙනීම දුර්වල වීම'></option>
                <option value ='සෙම්'></option>
                <option value ='උගුර ආසාදන'></option>
                <option value ='ඇස්වල රතු පැහැය'></option>
                <option value ='නාසික තදබදය'></option>
                <option value ='නාසයෙන් ශ්ලේෂ්මල පිට කිරීම'></option>
                <option value ='ශරීර තද බව'></option>
                <option value ='පපුවේ වේදනාව'></option>
                <option value ='අත් පා දුර්වල වීම'></option>
                <option value ='වේගවත් හෘද ස්පන්දන වේගය'></option>
                <option value ='බඩවැල්වල වේදනාව'></option>
                <option value ='ගුද කලාපයේ වේදනාව'></option>
                <option value ='මළපහෙන් ලේ ගැලීම'></option>
                <option value ='ගුදය වටා කැසීම'></option>
                <option value ='බෙල්ලේ වේදනාව'></option>
                <option value ='කරකැවිල්ල'></option>
                <option value ='ශරීරයේ කැක්කුම'></option>
                <option value ='තැලීම්'></option>
                <option value ='තරබාරුකම'></option>
                <option value ='ඉදිමුණු කකුල්'></option>
                <option value ='ඉදිමුණු රුධිර නාල'></option>
                <option value ='සුදුමැලි මුහුණ සහ ඇස්'></option>
                <option value ='තයිරොයිඩ් ග්‍රන්ථිය විශාල බව'></option>
                <option value ='නියපොතු'></option>
                <option value ='ආයුධ, පාද, වළලුකර හා කකුල් ඉදිමීම'></option>
                <option value ='අධික කුසගින්න'></option>
                <option value ='අවිවාහක සබඳතා පිළිබඳ ගැටලු'></option>
                <option value ='තොල් වියළීම හා හිරි වැටීම'></option>
                <option value ='මුඩුක්කු කථාව'></option>
                <option value ='දණහිසේ වේදනාව'></option>
                <option value ='උකුල් වල සන්ධි වේදනාව'></option>
                <option value ='මාංශ පේශි දුර්වලතාව'></option>
                <option value ='බෙල්ලේ තද බව'></option>
                <option value ='ඉදිමුණු සන්ධි'></option>
                <option value ='ශරීර චලනයන්හි තද බව'></option>
                <option value ='චලනයන් අතරතුර කරකැවිල්ල'></option>
                <option value ='ශරීර සමතුලිතතාවය නැතිවීම'></option>
                <option value ='ශරීර අස්ථාවරත්වය'></option>
                <option value ='එක් ශරීර පැත්තක දුර්වලතාවය'></option>
                <option value ='සුවඳ දැනීම නැතිවීම'></option>
                <option value ='මුත්‍රාශයේ වේදනාව'></option>
                <option value ='මුත්රා වල දුර්ගන්ධය'></option>
                <option value ='නිතර මුත්‍රා කිරීමට අවශ්‍යයි'></option>
                <option value ='ගුදය හරහා වායුව මුදා හැරීම'></option>
                <option value ='ශරීර අභ්‍යන්තර කැසීම'></option>
                <option value ='ටයිෆස් උණ'></option>
                <option value ='මානසික අවපීඩනය'></option>
                <option value ='නුරුස්නා බව'></option>
                <option value ='මාංශ පේශි වේදනාව'></option>
                <option value ='පැහැදිලිව සිතීමට හෝ අවධානය යොමු කිරීමට නොහැකි වීම'></option>
                <option value ='ශරීරයේ රතු ලප'></option>
                <option value ='පහළ බඩේ වේදනාව'></option>
                <option value ='අසාමාන්‍ය ඔසප් වීම'></option>
                <option value ='දුර්වර්ණ වූ සම'></option>
                <option value ='ඇස්වල කඳුළු'></option>
                <option value ='අධික කුසගින්න'></option>
                <option value ='අසාමාන්‍ය ලෙස මුත්රා නිපදවීම'></option>
                <option value ='පාරම්පරික ආබාධ'></option>
                <option value ='සුදු ශ්ලේෂ්මල නාසයෙන් පැමිණේ'></option>
                <option value ='මලකඩ පැහැති ශ්ලේෂ්මල නාසයෙන් පැමිණේ'></option>
                <option value ='අධි ක්‍රියාකාරිත්වය'></option>
                <option value ='ඇස් පෙනීම වෙනස් වීම'></option>
                <option value ='පාරවිලයන ප්‍රතික්‍රියා'></option>
                <option value ='අනාරක්ෂිත එන්නත් කිරීම'></option>
                <option value ='කෝමා'></option>
                <option value ='ආමාශයේ ලේ ගැලීම'></option>
                <option value ='උදරයේ ඉදිමීම'></option>
                <option value ='අධික ලෙස මත්පැන් පානය කිරීම'></option>
                <option value ='ශරීරයේ බර වැඩිවීමට හේතු වන අතිරික්ත තරලය'></option>
                <option value ='ශ්ලේෂ්මල සහිත රුධිරය'></option>
                <option value ='කකුල් සහ පාදවල ඉදිමුණු හා විශාල වූ නහර'></option>
                <option value ='හදවත නැවැත්වූ බවක් දැනේ'></option>
                <option value ='ඇවිදින විට වේදනාව'></option>
                <option value ='සැරව පිරුණු කුරුලෑ'></option>
                <option value ='බ්ලැක් හෙඩ්ස්'></option>
                <option value ='කැළැල්'></option>
                <option value ='ඔබේ සමේ ඉහළ ස්ථරයට හානි වීම'></option>
                <option value ='සම නිල් හෝ නිල්-අළු බවට හැරේ'></option>
                <option value ='නියපොතු වල ගැසීම'></option>
                <option value ='නිය වටා සමේ දැවිල්ල'></option>
                <option value ='බිබිලි'></option>
                <option value ='නාසය යට සහ අවට රතු සම'></option>
                <option value ='කහ පැහැති කබොල සැරව සෑදී ඇත'></option>
                </datalist>
                <input type="reset">
                
<p><button name="button" value="OK" type="button" onclick="hello()">අමතර ඇතුලත් කිරීමක් සඳහා..</button>
       <script>
       function hello(){
       alert("hello javatpoint user");
       }
       </script> </p>
       <h6> <input type="submit" value="ඉදිරියට"/></h6></form>
       </main>
         <footer></footer>
        </div>
    </body>
    </html>
   
